<!doctype html>
<head>
  <title>FuzzBeed: A BuzzFeed Article Generator</title>
  <link rel="icon" href="{{url_for('static',filename='fb_favicon.ico')}}" type="image/x-icon" />
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bf-header.css') }}" />
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" />
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46048653-1', 'fuzzbeed.net');
  ga('send', 'pageview');

  </script>
</head>
<body>
    <div id="header_wrapper">
      <header rel:gt_cat="[ttp]:header" class="unified_header full-width ">

          <div id="upper-wrapper">
            <div class="upper appliedFix">
              <h1 class="social" id="logo">
                <a href="/" rel:gt_act="home" class="logo">BuzzFeed</a>
              </h1>
            </div>
      </div>

    <div id="lower-background">
      <div id="lower-wrapper">
        <div class="lower">
          
          <div id="nav-left">
            <div menu_group="news" class="menu-item header_dropdown" id="menu-news">
              <span>NEWS</span>
            </div>
            <div menu_group="entertainment" class="menu-item header_dropdown" id="menu-entertainment">
              <span>ENTERTAINMENT</span>
            </div>
            <div menu_group="life" class="menu-item header_dropdown" id="menu-life">
              <span>LIFE</span>
            </div>
            <div menu_group="video" class="menu-item header_dropdown" id="video-more">
              <span>VIDEO</span>
            </div>
            <div menu_group="more" class="menu-item last-child header_dropdown" id="menu-more">
              <span>MORE</span>
            </div>
          </div>
          <div id="nav-right">
            <div id="nav-shares">
              <div class="nav-share" id="fb-share">
                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.fuzzbeed.com&amp;width&amp;layout=button&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35&amp;appId=254189144622628" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px;" allowTransparency="true"></iframe>
              </div>
              <div class="nav-share" id="tw-share">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.fuzzbeed.com" data-via="aditkumar">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </div>
            </div>
            <div id="nav-search">
              <div style="display: none; border: 1px solid #e2e2e2; height: 24px; background: white;" class="=&quot;search_el&quot;" id="nav-search-box">
                <form class="search_form search_el" method="get" action="/search">
                  <input type="text" class="active search_el" value="" rel:gt_act="ignore" id="header_search" autocomplete="off" name="q" placeholder="Search" style="border: 0px solid transparent; background: transparent;">
                  <button style="display: none;" rel:gt_act="ignore" id="search_submit" class="submit action search_button search_el" type="submit"></button>
                </form>
              </div>
              <div id="nav-search-btn"></div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </header>
</div>
<div class=page>
  {% block body %}
    <div class=post-title> {{ headline }} </div>
    <hr class=titlebar/>
    <div class =image-container>
      {% for post in postData %}
        <div class=post>
          <div class=post-caption>
            {{post['title']}}
          </div>
            <img class=postImage src="{{post['img']}}"/>
          <div class=citation>
            <a href="{{post['source']}}">Source</a>
          </div>
        </div>
        <hr>
      {% endfor %}
    </div>
  {% endblock %}
  <div class=information>

  </div>
  <div class=citation style="text-align: center">
    Powered by <a href="http://www.giphy.com">Giphy</a>. Made with love for <a href="http://www.buzzfeed.com">Buzzfeed</a>. Copyright 2013 <a href="http://www.twitter.com/aditkumar">Adit Kumar</a>.
  </div>
</div>
</body>
</html>